body{
    background-color: #366141;
    height: 100%;
}

.container {
    width: 47%;
    height: 60%;
    margin: 20% 27%;
    text-align: center;
    display: inline-block;
}

.white-keys kbd {
    border: outset lightgray 5px;
    background: white;
    width: 12.5%;
    margin: 15px -3px auto;
    padding: 28% 1px 12%;
    font-size: 2rem;
    display: inline-block;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 208px;
}

.black-keys kbd {
    border: outset lightgray 5px;
    background: black;
    color: white;
    width: 7.5%;
    margin: 15px -3px auto;
    padding: 16.5% 1px 7%;
    font-size: 1.4rem;
    display: inline-block;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    position: relative;
}

.black-keys kbd:nth-child(1) {
    margin-left: -0.3rem;
}

.black-keys kbd:nth-child(2) {
    margin-left: 2rem;
}

.black-keys kbd:nth-child(3) {
    margin-left: 7.8rem;
}

.black-keys kbd:nth-child(4) {
    margin-left: 1.9rem;
}

.black-keys kbd:nth-child(5) {
    margin-left: 1.9rem;
}